version: "3.8"

services:
  db:
    image: mysql:8.0
    restart: unless-stopped
    ports:
      - "${MYSQL_PORT}:3306"
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - persistent:/var/lib/mysql
      - ./dump:/docker-entrypoint-initdb.d:ro

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    restart: unless-stopped
    environment:
      PMA_HOST: ${PMA_HOST}
      PMA_USER: ${PMA_USER}
      PMA_PASSWORD: ${PMA_PASSWORD}
      UPLOAD_LIMIT: ${PHP_UPLOAD_MAX_FILESIZE}
    ports:
      - "${PHPMYADMIN_PORT}:80"
    depends_on:
      - db

  www-node-express:
    build: .
    ports:
      - "${EXPRESS_PORT}:3000"
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - db
    environment:
      - NODE_ENV=production

volumes:
  persistent: